body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree';
    font-size: 16px;
    color: hsl(0, 0%, 7%);
}

.cartao{
    background-color:  hsl(0, 0%, 100%);
    max-width: 21rem;
    padding: 1.5rem;
    box-sizing: inherit;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 1.3rem;
    box-shadow: 0.5rem 0.5rem hsl(0, 0%, 7%);
}

.imagem{
    width: fit-content;
}

.imagem img{
    border-radius: 13px;
}

.topico {
    font-weight: bold;
    font-size: 14px;
}