body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree';
    font-size: 16px;
    color: hsl(0, 0%, 7%);
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 7%);
}

.cartao{
    background-color:  hsl(0, 0%, 100%);
    max-width: 20.8rem;
    padding: 1.5rem;
    box-sizing: inherit;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 1.3rem;
    box-shadow: 0.5rem 0.5rem hsl(0, 0%, 7%);
    margin: 20px;

    transition: box-shadow 200ms ease-in-out;
    cursor: pointer;
}

.cartao:hover{
    box-shadow: 0.75rem 0.75rem hsl(0, 0%, 7%);
}

.cartao:hover h1{
    color: hsl(47, 88%, 63%);
}


.imagem img{
    border-radius: 11px;
    width: 100%;
}

.conteudo{
    margin: 23px 0;
}

.conteudo .topico {
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin: 0 0 12px 0;
    background-color: hsl(47, 88%, 63%);
    padding: 0.38rem 0.75rem;
    border-radius: 4px;
}

.conteudo .data {
    font-size: 14px;
    margin: 0 0 12px 0;
    padding: 2px 0;
}

.conteudo h1{
    margin: 0 0 12px 0;
    padding: 3px 0;
    transition: color 200ms ease-in-out;
}

.conteudo .descricao {
    color: hsl(0, 0%, 50%);
    font-weight: 500;
    line-height: 24px;
    margin: 0 0 10px 0;
}

.autor {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.autor img{
    height: 33px;
    margin-right: 10px;
}

.autor a:hover{
    text-decoration: underline;
}

