body{
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree';
}

p{
    font-size: 16px;
    font-weight: 500;
}

h1{
    font-size: 25px;
}

.cartao{
    background-color: hsl(0, 0%, 100%);
    width: 28.5%;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px 0 rgba(0,0,0,1);
}

.conteudo{
    margin: 6%;
}

.img-artigo{
    text-align: center;
}

.img-artigo img{
    border-radius: 10px;
    margin-top: 5%;
}

.rotulo-artigo {
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    display: inline-block;
}

.rotulo-artigo p{
    padding: 7px 14px;
    margin: 0;
    font-weight: 800;
}

#descricao {
    color: hsl(0, 0%, 50%);
}

#data {
    font-weight: 500;
}

.autor{
    display: flex;
}

.autor img{
    height: 37px;
    margin-right: 15px;
}

.menor{
    font-size: 14px;
    font-weight: 800;
}

/* Estilo do rodape que ja foi dado */
.attribution { 
    font-size: 11px; 
    text-align: center;
    position: fixed; /* 'fixed' para manter a div fixa na tela */
    bottom: 0; /* Posiciona a div no final da página */
    left: 0; /* Opcional: para posicionar à esquerda da página */
    right: 0; /* Opcional: para posicionar à direita da página */
    width: 100%; /* Ocupa toda a largura da página */
    background-color: #ffffff; /* Cor de fundo da div */
    padding: 10px; /* Opcional: adicione algum espaçamento interno */
}
.attribution a { color: hsl(228, 45%, 44%); }